LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DATABASE_URL=
ENV=
PORT=
EMAIL_URL=
CLOUDINARY_URL=
FIREBASE_SERVICE_ACCOUNT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_ACCOUNTS_PASSWORD=
JWT_SECRET=#openssl rand -hex 64
JWT_REFRESH_SECRET=#openssl rand -hex 64
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=
REDIS_URL=