LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DATABASE_URL=

ENV=
PORT=

EMAIL_URL=
CLOUDINARY_URL=

FIREBASE_SERVICE_ACCOUNT_URL=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_ACCOUNTS_PASSWORD=

JWT_SECRET=
JWT_REFRESH_SECRET=
TOKEN_EXPIRATION_TIME=

REDIS_URL=